@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

h1, h3, p {
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
  body {
    background-color: #4b4e52;
    transform-origin: top left;
    transform: scale(0.9);
  }
svg {
    background-color: gainsboro;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    margin-top: 0%;
    margin-right: 10%;
}
circle {stroke: black;}
#tooltip {
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 200px;
    height: 60px;
    background-color: lightblue;
    color: black;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}
.guide-line {
    stroke: blue;
    stroke-dasharray: 4;
    opacity: 0;
      }
.trend-line {
    stroke: red;
    stroke-width: 2;
    }
.annotation-text text {
        fill: #535454;
        font-family: 'Montserrat', sans-serif;
        font-size: small;
    }
#info {
    position: absolute;
    top: 120px;
    right: 1%;
    font-size: medium;
    width: 400px;
}

.button-div {
    text-align: center;
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    cursor: pointer;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #45a049;
}

#home-button {
    position: absolute;
    top: 0px;
    right: 100px;
    font-size: medium;
}

.header-fade {
    animation: fadeIn 1.5s;
}

.typing-effect{
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(40, end) forwards; 
    padding-top: 25%;
  }

@media screen and (max-width: 1280px) {
#info {
    position: relative; 
    margin: 20px; 
}
}

@keyframes typing {
from {
    width: 0; 
}
to {
    width: 100%; 
}
}

@keyframes fadeIn {
    from {
      opacity: 0; 
    }
    to {
      opacity: 1;
    }
  }
  