@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

h1, p {
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
  body {
    background-color: #4b4e52;
  }
svg {
    background-color: gainsboro;
}
circle {stroke: black;}
#tooltip {
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 200px;
    height: 60px;
    background-color: lightblue;
    color: black;
    border: 0px;
}
.guide-line {
    stroke: blue;
    stroke-dasharray: 4;
    opacity: 0;
      }
.trend-line {
    stroke: red;
    stroke-width: 2;
    }
